* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: rgb(199,79,255);
    background: radial-gradient(circle, rgba(199,79,255,1) 0%, rgba(76,0,114,1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: #4c0072;
    color: #fff;
    padding: 10px 0;
    position: relative;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 20px;
}
.navbar-header a:hover {
    color: #c74fff;
}
.nav.navbar-nav {
    list-style: none;
    display: flex;
    margin-right: 20px;
}
.nav.navbar-nav li {
    margin-left: 20px;
}
.nav.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.nav.navbar-nav li a:hover {
    color: #c74fff;
    border-radius: 5px;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
input:focus {
    border-color: #007BFF;
    outline: none;
}
button {
    background-color: #4c0072;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: #c74fff;
}
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
        text-align: center;
    }
    .nav.navbar-nav {
        flex-direction: column;
        margin-top: 10px;
    }
    .nav.navbar-nav li {
        margin: 5px 0;
    }
}